{% extends 'master/layout.html' %}

{% block layout-body %}
{% endblock %}

{% block layout-tripanel %}
<div id="layout-tripanel" class="zone">
    <div id="zone-tripanel-left">
        <div class="zone zone-tri-panel-left">
            <article class="widget-html-widget widget">
                <header>
                    <h1 class="widget-title">What's Happening</h1>
                </header>
                <p>
                    The PISTONS are playing at the Hawg Corral in Pelham Friday nights 8:00-12:00
                </p>
                <p>
                    The HAWG CORRAL is the coolest, laid-back place. Good friends, GREAT MUSIC!
                </p>
            </article>
            <article class="widget-twitter-widget widget">
                <header>
                    <h1 class="widget-title">Latest tweets</h1>
                </header>
                <p>
                    <a href="http://twitter.com/ewguitarman/statuses/82976557957783552" target="_blank">working on new lick on guitar-inverted chevrons by earl</a>
                    <!--<br>409 days ago-->
                </p>
            </article>
        </div>
    </div>
    <div id="zone-tripanel-center">
        <div class="zone zone-tri-panel-center">
            <article class="widget-recent-blog-posts widget">
                <header>
                    <h1 class="widget-title">News</h1>
                </header>
                <ul class="blog-posts content-items">
                    <li class="first">
                        <h4><a href="/news/">Gear for Sale</a></h4>
                        <div class="publishinfo">10/11/2011 3:55:41 PM by ewaller</div>
                        <div>
                            <p>
                                Silvertone 1 x 12 tube amp $250 New Arrivals! Gibson Historic '57 Les Paul Jr.
                                --Sunburst Mint Cond. w/case $,1800 Marshall Handwired Series 18 watt 1x12 combo
                                Mint w/cover $1,900&nbsp;…
                            </p>
                        </div>
                    </li>
                    <li>
                        <h4><a href="/news/"> Mr. Larry and the Chuckleberries</a></h4>
                        <div class="publishinfo">10/11/2011 4:07:49 PM by admin</div>
                        <div>
                            <p>
                                Larry Darnell and I have a kids show that we perform at schools, pre-schools,
                                and churches. It's Bible-based fun with Music, magic, and comedy! The show runs
                                about 40 minutes and kids as well as&nbsp;…
                            </p>
                        </div>
                    </li>
                    <li class="last">
                        <h4><a href="/news/"> Lessons</a></h4>
                        <div class="publishinfo">6/22/2011 3:37:41 PM by admin</div>
                        <div>
                            <p>
                                I will be posting on-line lessons,tips and tricks--or you can e-mail me at
                                <a href="mailto:ewguitarman@yahoo.com">ewguitarman@yahoo.com</a> for private
                                lessons.
                            </p>
                        </div>
                    </li>
                </ul>
            </article>
        </div>
    </div>
    <div id="zone-tripanel-right">
        <div class="zone zone-tri-panel-right">
            <article class="widget-html-widget widget">
                <header>
                    <h1 class="widget-title">Notes</h1>
                </header>
                <p>Just got this site up and running. Thanks to Josh and Mark.</p>
            </article>
        </div>
    </div>
</div>
{% endblock %}