{% extends 'master/layout.html' %}

{% block layout-zone-content %}
    <article class="content-item blog">
        <header>
            <h1 class="page-title">News</h1>
        </header>
        <ul class="blog-posts content-items">
            <li class="first">
                <article class="content-item blog-post">
                    <header>
                        <h4>Gear for Sale</h4>
                        <div class="metadata">
                            <div class="published">Oct 11 2011 4:55 PM</div>
                        </div>
                    </header>
                    <p>Silvertone 1 x 12 tube amp $250</p>
                    <p>
                        New Arrivals!<br>
                        Gibson Historic '57 Les Paul Jr.--Sunburst Mint Cond. w/case $1,800<br>
                        Marshall Handwired Series 18 watt 1x12 combo Mint w/cover $1,900<br>
                        Boss--DD3 Delay pedals (2) $65. ea.--AUTO Wah pedal $60---Vox Volume pedal $60---All New in the box!<br>
                    </p>

                </article>
            </li>
            <li>
                <article class="content-item blog-post">
                    <header>
                        <h4>Mr. Larry and the Chuckleberries</h4>
                        <div class="metadata">
                            <div class="published">Oct 11 2011 5:07 PM</div>
                        </div>
                    </header>
                    <p>
                        Larry Darnell and I have a kids show that we perform at schools, pre-schools, and churches.
                        It's Bible-based fun with Music, magic, and comedy! The show runs about 40 minutes and kids
                        as well as adults go crazy for it!
                    </p>
                </article>
            </li>
            <li class="last">
                <article class="content-item blog-post">
                    <header>
                        <h4>Lessons</h4>
                        <div class="metadata">
                            <div class="published">Jun 22 2011 4:37 PM</div>
                        </div>
                    </header>
                    <p>
                        I will be posting online lessons, tips and tricks--or you can e-mail me at
                        <a href="mailto:ewguitarman@yahoo.com">ewguitarman@yahoo.com</a> for private lessons.
                    </p>
                </article>
            </li>
        </ul>
    </article>
{% endblock %}
