.content-item.photo-album-lightbox ul,
.content-item.photo-album-slideshow ul
{
    margin: auto;
    overflow: hidden;
}

.content-item.photo-album-lightbox li,
.content-item.photo-album-slideshow li
{    
    float: left;
    list-style-type: none;       
    padding: 1em;
    border-color: #ccc;
    
    border-style: solid;
    text-align: center;
}

.content-item.photo-album-lightbox li {
    border-width: 1px;
    margin: 0 2px 2px 0;
}

.content-item.photo-album-slideshow li {
    border-width: 1px 1px 1px 0px;
}

.content-item.photo-album-slideshow li.first{
    border-width: 1px 1px 1px 1px;
}

.photo-album-slideshow .content-item.photo h1,
.photo-album-slideshow .content-item.photo .published
{
    display: none;
}

.image-item-details
{
    text-align: center;
}

a.thumb
{ 
    display: block;
    text-align:center;
    margin: 0.5em 0 0;
    background: url('/static/images/lightbox-ico-loading.gif') center center no-repeat;
}

a.thumb img
{
    position: relative;
}

article.content-item.photo h1
{
    margin: 0 0 0.5em 0;
}

article.content-item.photo .published
{
    margin: 0.5em 0 0 0;
}

.photo-album-lightbox .manage-actions,
.photo-album-slideshow .manage-actions
{
    display: none;
}

